/*Lab02 style sheet*/
body,
header h1 {
  margin: 0;
}
header {
	background-color: #FF00FF;
	padding: 0.25em;
	text-align: center;
}


/* This effects menu layout n color */

nav {
	flex-direction: column;
  width: 15%;
	float: left;
}

nav a {
	padding: 1.25em 1.5em;
	color: #FF00FF;
	background-color: #8C92AC;
	text-decoration: none;
	transition: all 1.5s;
}
/*controls color of hover */
nav a:hover {
	color: #7a007a;
	background: #FF00FF;
}
main {
  width: 85%;
  float: right;
  box-sizing: border-box;
}
